body {
    font-family: 'Roboto', sans-serif;
  }

.bg_title{
    background-color: #28A745;
}

.precio.normal{
    color: red;
}

.precio.oferta{

}
/* comentario*/

.seccion1{
    max-width: 300px;
    align-content: center ;
    justify-content: ;
}

.detalle-producto{

}